.CategoryList {
  color: white;
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
}

.CategoryList li {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
}
    
.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: balck;
  color:white;
}

.CategoryList li.active {
  background-color: grey;
  border: .1vmin solid grey;
}